{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:i18next/recommended"
  ],
  "plugins": ["react", "react-native"],
  "ignorePatterns": ["web-build/*"],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": 0,
    "react/react-in-jsx-scope": 0,
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": true,
        "allowSeparatedGroups": true
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
